<form action="/createpost" method="post">
	<label>Author</label>
	<input type="text" name="author">
	<br>
	<label>Title</label>
	<input type="text" name="title">
	<label>Date</label>
<!-- 	<input type="time" name="time">
 -->	<br>
	<textarea rows="20" cols="100" placeholder = "Post Content Here" name = "content"></textarea>
	<br>
	<input type="Submit" value= "Submit Post">	
</form>