<h1>Word!</h1>

<div class ="article">
	<form action="/createpost" method="post">
		
			<label>Author</label>
			<input type="text" name="author">
			<br>
			<label>Title</label>
			<input type="text" name="title">
			
<br>
		<textarea rows="20" cols="100" placeholder = "Post Content Here" name = "content"></textarea>
		<br>
		<input type="submit" value= "Submit Post">	
	</form>
	
</div>