<h1>Edit Page</h1>


<form class="article" action="/edit/<%= @displayeditedpost.id %>" method="post">
<textarea class="article" name="edited" rows = "20" cols= "100"><%= @displayeditedpost.content %> </textarea>
<input type="hidden" name="_method" value="patch"></input>
		<input type = "submit" value="Submit_Changes">

</form>



