<html>
<head>
	<title>Blog</title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<link href='http://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Jolly+Lodger' rel='stylesheet' type='text/css'>


</head>
<body>

	<a href="/">Home</a>
	<a href="/create">Create a new post!</a>

	<div class="blogview">
	<%= yield %>
	</div>


</body>
</html>